@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>Welcome to agentstuff</h1>
    <p class="lead">The no 1 social site for agents.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>Getting started as an agent</h2>
        <p>Get awsome gadgets from the webshop. Ligntning fast delivery and 100% anonymus.</p>
        <p><a class="btn" href="">Become an agent &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Missions</h2>
        <p>Awsome agent missions.</p>
        <p><a class="btn" href="">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Build your spy network</h2>
        <p>Increace your network of spies.</p>
        <p><a class="btn" href="">Learn more &raquo;</a></p>
    </div>
</div>